<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AddressMapper">
  <insert id="add" parameterType="AddressVO">
    insert into tbl_address (addrno,mno,addrname,receiver,zipcode,addr,tel) 
    values(seq_Address_addrno.nextval,#{mno},#{addrname},#{zipcode},#{receiver},#{addr},#{tel})
  </insert>
  <insert id="firstadd" parameterType="MemberVO">
    insert into tbl_address (addrno,mno,addrname,receiver,zipcode,addr,tel)
    values(seq_Address_addrno.nextval,#{mno},#{name},#{name},#{zipcode},#{home},#{tel})
  </insert>
  <select id="alist" parameterType="java.lang.Integer" resultType="AddressVO">
    select * from tbl_address where mno=#{mno}
  </select>
  <update id="modify" parameterType="AddressVO">
    update tbl_address set addrname = #{addrname}, receiver = #{receiver}, zipcode = #{zipcode}, addr = #{addr}, tel = #{tel}
    where addrno = #{addrno} and mno = #{mno}
  </update>
  <delete id="remove" parameterType="AddressVO">
    delete from tbl_address where addrno = #{addrno}
  </delete>
  <select id="selectOne" parameterType="AddressVO" resultType="AddressVO">
    select * from tbl_address where addrno = #{addrno} 
  </select>
  <select id="getFirstAddrno" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select addrno from tbl_address where mno = #{mno}
  </select>
</mapper>