<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
  <sql id="search">
  <if test="type != null">
    <trim prefix=" and (" suffix=") ">
      <choose>
        <when test="type == 'en'.toString()">
          email like '%'||#{keyword}||'%' or
          name like '%'||#{keyword}||'%'
        </when>
        <when test="type == 'e'.toString()">
          email like '%'||#{keyword}||'%'          
        </when>
        <when test="type == 'n'.toString()">          
          name like '%'||#{keyword}||'%'      
        </when>
        <when test="type == 'm'.toString()">          
          mno like '%'||#{keyword}||'%'      
        </when>
      </choose>
    </trim>
  </if>
</sql>
  <sql id="base">
    from tbl_member where mno = #{mno}
  </sql>
  <insert id="join" parameterType="MemberVO">
    insert into tbl_member(mno,email,pwd,name) 
    values(seq_member_mno.nextval,#{email},#{pwd},#{name})
  </insert>
  <select id="check" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(email) from tbl_member where email = #{email}
  </select>
  <select id="login" parameterType="MemberVO" resultType="MemberVO">
    select * from tbl_member where email = #{email} and pwd = #{pwd}
  </select>
  <select id="mlist" parameterType="Criterion" resultType="MemberVO">
    <![CDATA[        
    select mno,email,name,zipcode,home,tel,birth,grade,point,regd8
    from (select /*+INDEX_DESC(tbl_member pk_member)*/ 
          rownum as rn,mno,email,name,zipcode,home,tel,birth,grade,point,regd8
          from tbl_member
          where mno > 0
    ]]>
    <include refid="search"/>      
    <![CDATA[      
          and rownum <= #{pageNum} * #{amount})
    where rn > (#{pageNum}-1) * #{amount}
    ]]>
  </select>
  <select id="mInfo" parameterType="java.lang.Integer" resultType="MemberVO">
    select * from tbl_member where mno = #{mno}
  </select>
  <select id="checkPwd" parameterType="MemberVO" resultType="java.lang.Integer">
    select count(mno) from tbl_member where mno = #{mno} and pwd = #{pwd} 
  </select>
  <update id="modify" parameterType="MemberVO">
    update tbl_member set pwd = #{pwd}, name = #{name}, zipcode = #{zipcode}, home = #{home}, tel = #{tel}, birth = #{birth} where mno = #{mno}
  </update>
  <update id="modifyPwd" parameterType="MemberVO">
    update tbl_member set pwd = #{pwd} where mno = #{mno}
  </update>
  <delete id="resign" parameterType="java.lang.Integer">
    update tbl_member set grade= -1 where mno=#{mno} 
  </delete>
  <select id="totalCount" parameterType="Criterion" resultType="java.lang.Integer">
    <![CDATA[
    select count(email) from tbl_member where mno > 0
    ]]> 
    <include refid="search"/>
  </select>
  <update id="updateAddrno" parameterType="MemberVO">
    update tbl_member set addrno = #{addrno} where mno = #{mno}
  </update>
  <insert id="insertReview" parameterType="ReviewVO">
    insert into tbl_review(rno, pno, rate, writer, title, content, img, regd8, modd8) 
    values(seq_review_rno.nextval, #{pno}, #{rate}, #{writer}, #{title}, #{content}, #{img}, sysdate, sysdate)
  </insert>
  <update id="checkReview" parameterType="java.lang.Integer">
    update tbl_orderdetail set rno = 1 where odno = #{odno}
  </update>
  <select id="countCart" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT count(cno) FROM TBL_CART WHERE mno=#{mno}
  </select>
  <select id="getStatusCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    SELECT count(d.ocode) FROM TBL_ORDER o JOIN TBL_ORDERDETAIL d ON o.ocode = d.ocode ${where}
  </select>
  <select id="getStatusCountAll" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT count(d.ocode) FROM TBL_ORDER o JOIN TBL_ORDERDETAIL d ON o.ocode = d.ocode
    <if test='_parameter != 9'>
      where status = #{status}
    </if>
  </select>
</mapper>